.container {
	padding: 80px 120px;
}

.person {
	border: 10px solid transparent;
	margin-bottom: 25px;
	width: 80%;
	height: 80%;
	opacity: 0.7;
}

.person:hover {
	border-color: green;
}

.carousel-inner img {
	-webkit-filter: grayscale(90%);
	filter: grayscale(90%); /* todas as imagens ficam a P&B */
	width: 100%;
	margin: auto;
}
.carousel-caption h3 {
	color: #fff !important;
}

@media (max-width: 600px) {
	.carousel-caption {
	display: none; /* seconder o texto do carrossel quando o ecrã tiver menos de 600pixels de largura */
	}
}

.bg-1 {background: #2d2d30;color: #bdbdbd;}
.bg-1 h3 {color: #fff;}
.bg-1 p {font-style: italic;}

.tour-list {
	background-color: white;
	border: 2px solid white;
	border-radius: 5px;
}

.list-group ul{
	margin: 10px 5px;
}

/* Remover as bordas arrendondas da lista */
.list-group-item:first-child {
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}
.list-group-item:last-child {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
/* Remover bordas e adicionar padding aos thumbnails */
.thumbnail {
	background-color: white;
	margin: 15px 0px;
	padding: 5px;
	border: 1px solid;
	border-radius: 5px;
}
.thumbnail p {
	margin-top: 15px;
	color: #555;
}

.thumbnail img {
	width:;
	height:;
}

/* Botões a preto com extra padding e sem bordas arredondadas */
.btn {
	padding: 10px 20px;
	background-color: #333;
	color: #f1f1f1;
	border-radius: 0;
	transition: .2s;
}
/* Em hover, a cor do .btn irá ficar a branco e texto preto*/
.btn:hover, .btn:focus {
	border: 1px solid #333;
	background-color: #fff;
	color: #000;
}
