body{
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 20px;
	margin-bottom: 20px;
}
h1 {
	text-align: center;
	margin-left: auto;
    margin-right: auto;
	color: orange;
}
table{
   width: 70%;
    border-collapse:collapse;
    text-align: center;
}
td{
    width: 50%;
    text-align:center ;
}
th{
  text-align: center;
}
  #txtprocurar{
  float:left;
  background-color:transparent;
  padding-left:5px;
  font-size:18px;
  border-style:double;
  height:32px;
  width:100%;
}


/*------Footer Section------*/
.footer { 
	  left: 0;
	  bottom: 0;
	  min-height:250px; 
	  padding:10px 0px 25px 0px ;
}


footer p { 
  font-size:13px; 
  padding-bottom:0px; 
  margin-bottom:8px;
}

footer h5{
	color:#white;
	background-color:#black;
}
