/*------Header Section------*/
#pesquisa{
  background-color:transparent;
  padding-left:5px;
  font-size:18px;
  border-style:double;
  height:32px;
}
/*------General-------*/
body{
  background-color: blue;
}

a {
  text-decoration: inherit !important; 
}

.rank{
  background-color: darkgray;
  color: black;
}

.up{
  color: green !important;
}

.down{
  color:red !important;
}

/*------Footer Section------*/
.footer { 
  width: auto;
  display: inline-block;
  font-size:13px; 
  background-color: #0DA5E9;
  background-size: auto auto;
}
